# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
package-lock.json

# Firebase cache
.firebase/

# testing
/.scannerwork
/coverage
/reports

# production
/build

# misc
.DS_Store
.env.development.local
.vscode/settings.json
.idea/
*.iml
*-debug.log
yarn.lock


# misc
browserstack.err
debug.log
report/*.xml

/_images